
.container{
  nav{
    background-color: #333 !important;
  }
  .postTop{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    button{
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .postTitle{
      font-size: 3rem;
      position: relative;
      padding-left: 10px;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      }
    }
  }
}
.banner{
    background-color: rgb(160, 157, 157);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
    position: relative;
    &::after{
      content: '';
      display: block;
      padding-top: 40%;
    }
    
}
.topPost{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.cardBlog{
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
  .img{
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 10px;
      &::after{
          content: '';
          display: block;
          padding-top: 100%;
      }

      img{
          position: absolute;
          height: 100%;
          top: 0;

      }
  }
  small{
      display: flex;
      align-items: center;
      margin-top: 4px;
      svg{ margin-right: 5px;}
  }
  .title{
      margin: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      font-weight: bold;
      font-size: 1.2rem;
  }
  .contnt{
      font-size: 0.7rem;
      margin: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
  }
}
.controlPageTow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  a{
    padding: 0.5rem 1rem;
    border: 0.5px solid #d4d4d4;
    color: #a19e9e;
    border-radius: 5px;
  }
}
.commentSection{
  margin-top: 1rem;
  .tytleSection{
    display: flex;
    align-items: center;
    margin-bottom: 2rem ;
    .count{
      position: relative;
      min-width: 30px;
      background-color: #333;
      border-radius: 50%;
      margin-right: 10px;
      &::after{
        content: '';
        display: block;
        padding-top: 100%;
      }
      span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
  .commentField{
    position: relative;
    textarea{
      
      width: 100%;
      min-height: 30vh;
      border: 2px solid rgb(190, 187, 187);
      outline: none;
      padding: 0.5rem;
      border-radius: 5px;
     resize: vertical;
    }
    button{
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: #333;
      color: white;
      padding: 0.5rem 0.6rem;
      border: none;
      border-radius: 5px;
    }
    span{
      position: absolute;
      bottom: 5px;
      left: 0;
      color: #333;
      padding: 0.5rem 0.6rem;
      font-size: .7rem;
    }

  }
  
  .btnLogin{
    font-size: 0.7rem;
    color: rgb(136, 136, 136);
    cursor: pointer;
  }
}
.answerTo{  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  background: #e2e8f0;
  color: #747480;
  border-radius: 99rem;
  padding: .8rem;
  height: 2rem;
  margin: 0 1rem;
  cursor: pointer;

  transition: .3s;

  &:hover{ background: #212529; }
  &:hover > span{ color: #e2e8f0; }
  
  span:hover{
    text-decoration: underline;
  }
  button{
    background: #212529;
    border: 0;
    outline: none;
    padding: .05rem .3rem;
    color: #e2e8f0;
    border-radius: 99rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: .3s;

    &:hover{
      background: #d1d7df;
      color: #212529;
      font-weight: bold;
    }
  }

  .answerHover{
    position: absolute;
    display: none;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #eef;
    box-shadow: 0 0 10px #0001;
    background-color: #fff;
    bottom: 2.7rem;

    .commentTimestamp{
      font-size: .7rem;
      color: #99a;
      display: block;
    }

    .commentBody{
      color: #747480;
    }
  }

  &:hover .answerHover{
    display: block;
  }
}