
.blogPage{
    nav{
        background-color: #333;
    }
}
.ImgEmphasis{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    &::after{
        content: '';
        display: block;
        padding-top: 70%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.titleBlog{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
  
    h1{
        
    }
}
.subTitle{
   
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
      
       h2{
        position: relative;
        padding-left: 20px;
        font-size: 2rem;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 7px;
            height: 100%;
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
            
        }

       }
       button{
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

}
.InfoEmphasis{
    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        padding-top: 70%;
    }
    .item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        small{
            display: flex;
            align-items: center;
            margin-top: 1rem;
            svg{
                margin-right: 10px;
            }
        }
        .contnt{
        font-size: 1rem;
        margin: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

        }
    }

}
.cardBlog{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    .img{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        &::after{
            content: '';
            display: block;
            padding-top: 100%;
        }

        img{
            position: absolute;
            height: 100%;
            top: 0;

        }
    }
    small{
        display: flex;
        align-items: center;
        margin-top: 4px;
        svg{ margin-right: 5px;}
    }
    .title{
        margin: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .contnt{
        font-size: 0.7rem;
        margin: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}