html{
    scroll-behavior: smooth;
    scroll-snap-type: both proximity;
}
h1, h2,h3,h4{
    margin: 0;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    scroll-snap-align: center;
    h2{
        margin-bottom: 2rem;
    }
}
button{
    cursor: pointer;
}

#about{
    position: relative;
}
.card .card-content{
    padding: 15px;
}
#Carousel-31{
   margin-top: -60px;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; 
    }
}

@media (max-width: 857px){
    html{
        font-size: 70.5%;
    }
}
