html{
    overflow: auto;
}

h1, h2,h3,h4{
    margin: 0;
}
a{
    color: inherit;

}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    h2{
        margin-bottom: 2rem;
    }
    .container{
        position: relative;
        z-index: 1;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        
    }
   
}
button{
    cursor: pointer;
}

#about{
    position: relative;
}
.card .card-content{
    padding: 15px;
}
#Carousel-31{
   margin-top: -60px;
}
.upPage{
    position: fixed;
    top: 82%;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; 
    }
}

@media (max-width: 857px){
    html{
        font-size: 70.5%;
    }
}
