.service{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        font-weight: bolder;
    }
    .containerIco{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        i{
            font-size: 3rem;
        }

    }
    .groupBtnService{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3rem;
        a{
            margin: 10px;
            flex: 1;
            border-radius: 2rem;
        }
    }
}
.containerAbout{
    position: relative;
    margin-bottom: -20px;
    padding: 0;
    .itemLeft, .itemRigth{
        position: relative;
        z-index: 1;
        &::after{
            content: '';
            display: block;
            padding-top: 70%;
            @media(min-width: 450px){
                padding-top: 50%;
            }
            @media(min-width: 600px){
                padding-top: 100%;
            }
        }
        .item{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .itemLeft{
        .item{

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
    .itemRigth{
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            button{
                border-radius: 2rem;
                margin-top: 1rem;
            }
            h2{
                font-weight: bolder;
                margin-bottom: 1rem;
            }
        }
    }
    .bkgAbout{
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;
        left: 0;
        z-index: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  

}

.callToAction{
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        position: relative;
        h2, h3{
            margin: 0;
            padding: 0;
        }
        button{
           border-radius: 2rem;
           margin-top: 2rem;
          
        }
       
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rebeccapurple;
        z-index: 0;
    }

}

.topCard{
   display: flex;
   align-items: center;
   position: relative;


   .imgProfile{
       grid-area: img;
   }
   .infoProfile{
       flex: 1 1 150px;
       grid-area: info;
       text-align: left;
       padding: 10px;
       
       
   }
   .stars{
       height: 100%;
       grid-area: star ;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: absolute;
      top: 10px;
      right: 20px;
      
   }
}

.testimonial{
    h2{
        margin: 0;
    }
    h4{
         margin-bottom: 2rem;
        span{
            margin: 5px;
        }
    }
}
.gallery{
    h2{
        margin: 0;
        font-weight: bolder;
    }
    h4{
        font-size: 2rem;
        font-weight: lighter;
    }
}
.video{
    .containerVideo{
        position: relative;
        width:100%;
        &::after{
            padding-top: 56.25%;
            display: block;
            content: '';
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
    }
}
.shedule{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    h2, h4{
        margin: 0;
        padding: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
    form{
        padding: 1rem;
    }

    .containerBtn{
        display: flex;
        flex-direction: column;
    }
   .contentForm{
       display: flex;
       align-items: center;
       @media(max-width: 600px){
           padding-bottom: 2rem;
       }
       textarea{
           min-height: 100px;
           resize: vertical;
       }
       input[type =date]{
          
       }
       .imgShedule{
           flex: 1 ;
           margin-bottom: -6px;
           img{
               width: 100%;
               max-width: 300px;
           }
           @media(max-width: 600px){
               display: none;
           }
        }
        .containerForm{
            margin: 5px;
            flex: 1;    
        }
   }
}
.instagram{
    h2,h4{
        margin: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
    .cardImgInsta{
        position: relative;
        &::after{
            content: '';
            display: block;
            padding-top: 100%;
        }
        .contentImg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
            background-color: rgb(151, 151, 151);
        }
    }
}
.blog{
    h2, h4{
        margin: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
}