.newSection{
    padding: 2rem 1.4rem;
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        z-index: 1;

        .btnAction{
            border-radius: 99rem;
            padding: .6rem 1.4rem;
            font-weight: bold;
            font-size: 1.2rem;
        }
    
        .title{
            margin-bottom: .4rem;
            font-size: 4.3rem;
            font-weight: 600;
        }
        
        .subtitle{ margin-top: 0; }
    
        p{
            font-size: 1.6rem;
            max-width: 45rem;
        }
    }
}
.service{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        font-weight: bolder;
    }
    .containerIco{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        i{
            font-size: 3rem;
        }

    }
    .groupBtnService{
        a{
            width: 100%;
            flex: 1;
            border-radius: 2rem;
            margin-bottom: 10px;
        }
    }
}
.containerAbout{
    position: relative;
    margin-bottom: -20px;
    padding: 0;
    .itemLeft, .itemRigth{
        position: relative;
        z-index: 1;
        &::after{
            content: '';
            display: block;
            padding-top: 70%;
            @media(min-width: 450px){
                padding-top: 50%;
            }
            @media(min-width: 600px){
                padding-top: 100%;
            }
        }
        .item{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            a{
                margin-top: 1rem;
            }
        }
    }
    .itemLeft{
        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            
           img{
               height: 100%;
           }
        }

    }
    .itemRigth{
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            button{
                border-radius: 2rem;
                margin-top: 1rem;
            }
            h2{
                font-weight: bolder;
                margin-bottom: 1rem;
            }
        }
    }
    .bkgAbout{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  

}
.sectionList{
    padding: 2rem 1.4rem;
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 100%;

        z-index: 1;

        .title{
            margin-bottom: .4rem;
            font-weight: 500;
        }
        
        .subtitle{ margin-top: 0; font-size: 2rem; }

        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            margin-top: 1rem;
            
            ul{
                font-size: 1.2rem;
                max-width: 30rem;
                padding: 1rem;
                
                li{
                    font-weight: 500;
                    font-size: 1.4rem;
                    letter-spacing: .08rem;
                    padding: .125rem;
                }

            }

            .image{
                margin: 1rem;
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                border-radius: 1rem;
                box-shadow: 0 0 10px #0022;
            }

            @media (max-width: 600px) {
                flex-direction: column;
                .image{
                    order: 1;
                    margin-bottom: 0;
                }
                ul{ order: 2; }
            }
        }

        .btnAction{
            border-radius: 99rem;
            padding: .6rem 1.4rem;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}
.callToAction{
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        position: relative;
        h2, h3{
            margin: 0;
            padding: 0;
        }
        button{
           border-radius: 2rem;
           margin-top: 2rem;
          
        }
       
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rebeccapurple;
        z-index: 0;
    }

}
.imageLegends{
    padding: 2rem 1.4rem;
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        z-index: 1;
    
        .title{
            margin-bottom: .4rem;
            font-weight: 500;
        }
        
        .subtitle{ margin-top: 0; font-size: 2rem; }

        .btnAction{
            border-radius: 99rem;
            padding: .6rem 1.4rem;
            font-weight: bold;
            font-size: 1.2rem;
        }

        .flexImages{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            margin-top: 1rem;

            figure{
                display: flex;
                flex-direction: column;
                
                padding: 0 0 1rem;
                border-radius: 1rem;
                background: #fff;

                width: 20rem;

                img{
                    width: 20rem;
                    height: 15rem;
                    object-fit: cover;
                    border-radius: 1rem;
                }
                figcaption{
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-top: .4rem;
                }
                p{
                    margin-top: .2rem;
                }
                *:not(img){
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}
.topCard{
   display: flex;
   align-items: center;
   position: relative;


   .imgProfile{
       grid-area: img;
   }
   .infoProfile{
       flex: 1 1 150px;
       grid-area: info;
       text-align: left;
       padding: 10px;
       
       
   }
   .stars{
       height: 100%;
       grid-area: star ;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: absolute;
      top: 10px;
      right: 20px;
      
   }
}

.testimonial{
    h2{
        margin: 0;
    }
    h4{
         margin-bottom: 2rem;
        span{
            margin: 5px;
        }
    }
    .btnAction{
        border-radius: 99rem;
        padding: .6rem 1.4rem;
        font-weight: bold;
        font-size: 1.2rem;
        margin: auto;
        display: block;
        width: fit-content;
        max-width: 100%;
    }
}
.gallery{
    h2{
        margin: 0;
        font-weight: bolder;
    }
    h4{
        font-size: 2rem;
        font-weight: lighter;
    }
}
.video{
    .containerVideo{
        position: relative;
        width:100%;
        &::after{
            padding-top: 56.25%;
            display: block;
            content: '';
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
    }
}
.shedule{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    h2, h4{
        margin: 0;
        padding: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
    form{
        padding: 1rem;
    }

    .containerBtn{
        display: flex;
        flex-direction: column;
    }
   .contentForm{
       display: flex;
       align-items: center;
       @media(max-width: 600px){
           padding-bottom: 2rem;
       }
       textarea{
           min-height: 100px;
           resize: vertical;
       }
       input[type =date]{
          
       }
       .imgShedule{
           flex: 1 ;
           margin-bottom: -6px;
           img{
               width: 100%;
               max-width: 300px;
           }
           @media(max-width: 600px){
               display: none;
           }
        }
        .containerForm{
            margin: 5px;
            flex: 1;    
        }
   }
}
.instagram{
    h2,h4{
        margin: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
    .cardImgInsta{
        position: relative;
        &::after{
            content: '';
            display: block;
            padding-top: 100%;
        }
        .contentImg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
            background-color: rgb(151, 151, 151);
        }
    }
}
.blog{
    h2, h4{
        margin: 0;
    }
    h2{
        font-weight: bolder;
    }
    h4{
        font-weight: lighter;
    }
    a{
        color: inherit;
    }
}
.faq{
    padding: 2rem 1.4rem;
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .content{
        max-width: 55rem;
        margin: auto;

        z-index: 1;
    
        hgroup{
            display: flex;
            align-items: center;

            .title{
                margin: 0;
                font-weight: 500;
                font-size: 12rem;
                letter-spacing: -.6rem;
                text-transform: uppercase;
            }
            
            .subtitle{
                font-weight: 500;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: -.2rem;
                margin: 2rem 0 0 2rem;
                max-width: 15rem;
            }
            @media (max-width: 520px){
                flex-wrap: wrap;

                .subtitle{
                    margin-top: .6rem;
                    margin-left: 0;
                    max-width: 100%;
                }
            }
        }

        > p {
            font-size: 1.4rem;
            font-size: 500;
        }
        .card{
            border-radius: 1rem;
            display: flex;
            flex-direction: column;

            > div {
                padding: 1rem 0;
                strong{
                    padding: 1rem 1rem .2rem;
                    cursor: pointer;
                }
                > div{
                    padding: .6rem 1rem .2rem;
                    opacity: .8;

                    transition: .6s;
                }
            }
            > div  + div{
                border-top: 1px solid #dde;
            }
        }
    }
}