.container{
  padding-top: 5rem;
  padding-bottom: 20px;
    h5{
        font-size: 1.2rem;
    }
    p{
      line-height: 10px;
     
    }
    input{
      background-color: white !important;
      padding: 5px !important;
      &::placeholder{
        color: #333;
      }
    }
    
}