.containerBanner{
     min-height: auto;
    background-color: #333;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 3rem;
    nav{
        background-color: transparent;
    }
   .itemLeft{
       width: 100%;
       position: relative;
       z-index: 2;
       &::after{
           content: '';
           display: block;
           padding-top: 100%;
           @media(min-width: 400px){
            padding-top: 50%;
        }
            @media(min-width:600px){
                padding-top: 125%;
            }
       }
       .content{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           h2{
               font-size: 6rem;
           }
           @media(min-width: 600px){
            align-items: flex-start;
           }
       }
       button{
           border-radius: 2rem;
           margin-top: 2rem;
           max-width: 200px;
       }

   }
//    container da imagem png
   .itemRight{
    width: 100%;
    position: relative;
    z-index: 2;
    &::after{
        content: '';
        display: block;
        padding-top: 110%;
            @media(min-width: 400px){
                padding-top: 50%;
            }
            @media(min-width:600px){
                padding-top: 125%;
            }
          
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
      
   }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.ordem1{
    display: none;
}
.ordem2{
    display: block;
}

@media(min-width: 601px){
    .ordem1{
        display: block;
    }
    .ordem2{
        display: none;
    }
}