.containerBanner{
    height: 100vh;
    background-color: #333;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    nav{
        background-color: transparent;
    }
    .contentBanner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        position: relative;
        h2{
            font-size: 6rem;
            margin-left: 1rem;
        }
        h3{
            font-size: 2.5rem;
            margin-left: 1rem;
        }
        .contentTxt{
            font-size: 1.2rem;
            margin-left: 1rem;
        }
        button{
            max-width: 300px;
            border-radius: 2rem;
            margin-top: 2rem;
            margin-left: 2rem;
        }
       
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}