.containerBanner{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .contentBanner{
        width: 85%;
        margin: 0 auto;
        height: calc(100vh - 10vh);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        overflow: hidden;
        z-index: 1;
        position: relative;
        grid-template-areas: 
          'one one'
          'two two'
        ;
        @media(min-width: 600px){
            width: 70%;
            grid-template-rows: 100vh;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            'two one'
          
            ;

        }
        .itemLeft{
            grid-area: one;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
                height: 100%;

            }
        
        }
        .itemRIght{
            grid-area: two;
            width: 100%;
            text-align: center;
            h2{
                font-size: 5rem;
                font-weight: bolder;
            }
            h3{
                font-size: 3rem ;
                font-weight: bolder;

            }
            .contentTxt{
                font-size: 1.5rem;
            }
            .button{
                margin-top: 1rem;
                border-radius: 2rem;
                max-width: 200px;
            }
            @media(min-width: 600px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
            }
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}